@model Big_Farma.ViewModel.ProductVm

<form method="post">
    <input hidden asp-for="product.ID" />
    <div class="card  container pt-4">
        <div class="card-header bg-primary text-light ml-0  row ">
            <div class="col-12 col-md-6">
                <h1 class="text-white-50">@Model.product.ProductName</h1>
            </div>
            <div class="col-12 col-md-6 text-end pt-4">
                
                <span class="badge bg-warning pt-2" style="height:30px;">@Model.product.category.CategoryName</span>
            </div>
        </div>
        <div class="card-body row container">
            <div class="container rounded p-2">
                <div class="row">
                    <div class="col-8 col-lg-8">

                        
                        <div class="row pl-2">
                            <h5 class="text-muted pb-2">List Price: @Model.product.Price.ToString("c")</h5>
                        </div>
                        </div>
                        <div class="row pl-2">

                        <p class="text-secondary">@Html.Raw(Model.product.ProductDescription)</p>
                        </div>
                        
                    </div>
                    <div class="col-12  text-center">
                    <img src="@Model.product.ImageUrl" width="100%" class="rounded" />
                    </div>
                </>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12 col-md-12 pb-1">
                    <a class="btn btn-success form-control " style="height:50px;" asp-area="Product" asp-action="Index">Back to Home</a>
                </div>
               
            </div>
        </div>
    </div>
</form>
